{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["chrome > 40", "ios > 6", "android > 4.4"]
      },
      "modules": false
    }],
    "react",
    "stage-2"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ]
}

